@use 'variables.scss' as *;

// Global para vídeos não interferirem no clique
video {
  pointer-events: none; // Permite que o clique passe para a DIV pai
  -webkit-touch-callout: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  transition: background-color 0.6s ease, color 0.6s ease;
}

body {
  font-family: $font-main;
  background: #004d66; // 🔧 Azul claro elétrico mais destacado
  color: $dark-text;
  transition: background-color 0.6s ease, color 0.6s ease;
}

:root {
  --bg-card: #1e1e1e;
  --text-card: #f5f5f5;
  --border-card: #00e5ff;
}

// ♿ Acessibilidade: Melhora o indicador de foco para navegação via teclado
a:focus-visible, 
button:focus-visible {
  outline: 0.2rem dashed #ffffff;
  outline-offset: 0.3rem;
}


