:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #121212;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #00e5ff;
  --accent-bg: rgba(0, 229, 255, 0.15);
  --accent-border: rgba(0, 229, 255, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow: rgba(0, 229, 255, 0.4) 0 0 15px;
  font: 18px/145% 'Inter', sans-serif;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
